.floater1 {
    background-color: white;
}
.floater2 {
    background-color: gray;
    color: white;
}
.floater3 {
    background-color: #669999;
    color: white;
}
.floater4 {
    background-color: #666699;
    color: white;
}
body {
    padding-top: 50px;
}
@media (max-width: 480px) {
    body {
        font-size: 20px;
    }
    .hidden-phone {
        display: block;
    }
}
